{% extends "artists/base.html" %}
{% block content %}
    <div class="gallery-container">
        <h1>Art by {{ user.username }}</h1>
    </div>

    <div class="tz-gallery">
        <div class="row">
        {% for art in object_list %}
            <div class="col-sm-6 col-md-4" align="center">
                <div class="thumbnail">
                    <a class="lightbox" href="{{ art.url }}">
                        <img src="{{ art.url }}" alt="" class="img-thumbnail">
                    </a>
                    <div class="caption">
                        <a class="mr-2" href="{% url 'artists:user-artwork' user.id art.id %}">{{ art.title }}</a>
                        <small class="text-muted">{{ art.timestamp }}</small>

                        <a href="{% url 'account:art_delete' art.id %}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
                        <!--<form action="{% url 'account:art_delete' art.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Delete"> -->
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <p class="paginator">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1"><<</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">></a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">>></a>
        {% endif %}
    {% endif %}
        </p>

{% endblock content %}
