{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block css_import %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'account/style-edit.css' %}">
{% endblock css_import %}

{% block naslov %}
<title>Edit profile</title>
{% endblock naslov %}

{% block content %}

<h1>{{ user.get_username }}, here you can change and add information.</h1>
<div class="container">
    <form method="POST">{% csrf_token %}
        {{ form|crispy}}
        <button id="submit" class="btn btn-secondary" type="submit">Save</button>
        <button id ="cancel" class="btn btn-secondary" onclick="javascript:history.back();" type="reset">Cancel</button>

    </form>
</div>


{% endblock content %}

