{% extends 'izvor.html' %}


{% block content %}
    {% load static %}
     
    <head>
    <link rel="stylesheet" type="text/css" href="st.css">
        
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Awesome Fonts -->
    <script src="https://kit.fontawesome.com/198eb0a8ac.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">


    <title>Registration</title>

    <link rel="stylesheet" type="text/css" href="{% static 'account/style.css' %}">

</head>


<body>
<div class="container">
    <div class="row">
        <!-- left side -->
        <div class="col-md-7">
            <h1 class="text-left">Join the community</h1>
            <div class="lefts">
                <p clsass="text-left">Register to be able to add, vote, like, 
                    and comment on paintings from our ever-growing database. 
                    Join a community full of old masterpieces to get you inspired 
                    and show off your work for others to admire.
                </p>
            </div>
        </div>

        <!-- right side -->
        <div class="col-md-5">
            <div class="row">
                <h1 class="text-right">Register...</h1>
            </div>
           
        <hr>

            <div class="form-group">
                <form methond="POST">
                    {% csrf_token %}
                    {{ form.as_p }}

                <button class="btn btn-secondary">Register</button>    
                </form>
            </div>
            <!-- close -->
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

{% endblock %}
