{% extends 'base.html' %}

{% block css_import %}
<!-- {% load static %} -->
<link rel="stylesheet" type="text/css" href="{% static 'account/style.css' %}">
{% endblock css_import %}

<!-- we do not want the navigation bar -->
{% block navbar %}
{% endblock navbar %}

{% block content %}

    <title>Registration</title>

<div class="container">
    <div class="row">
        <!-- left side -->
        <div class="col-md-7">
            <h1 class="text-left">Join the community</h1>
            <div class="lefts">
                <p clsass="text-left">Register to be able to add, vote, like, 
                    and comment on paintings from our ever-growing database. 
                    Join a community full of old masterpieces to get you inspired 
                    and show off your work for others to admire.
                </p>
            </div>
        </div>

        <!-- right side -->
        <div class="col-md-5">
            <div class="row">
                <h1 class="text-right">Register...</h1>
            </div>
           
        <hr>

            <div class="form-group">
                <form methond="POST">
                    {% csrf_token %}
                    {{ form.as_p }}

                <button class="btn btn-secondary">Register</button>    
                </form>
            </div>
            <!-- close -->
        </div>
    </div>
</div>

{% endblock %}
