{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block css_import %}
<!-- {% load static %} -->
<link rel="stylesheet" type="text/css" href="{% static 'account/style.css' %}">
{% endblock css_import %}

<!-- we do not want the navigation bar -->
{% block navbar %}
{% endblock navbar %}



{% block content %}

<div class="container">
    <div class="row">
        <!-- left side -->
        <div class="col-md-7">
            <h1 class="text-left">Join the community</h1>
            <div class="lefts">
                <p clsass="text-left">Register to be able to add, vote, like, 
                    and comment on paintings from our ever-growing database. 
                    Join a community full of old masterpieces to get you inspired 
                    and show off your work for others to admire.
                </p>
            </div>
        </div>

        <!-- right side -->
        <div class="col-md-5">
            <div class="row">
                <h1 class="text-right">Register...</h1>
            </div>
           
        <hr>

            <div class="form-group">
                <!--<form action="data/" method="POST"> -->
                <form action='{{ action }}' method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    
                    <button class="btn btn-secondary" type="submit">Register</button>    
                    
                    <!-- obravnavamo mozne napacne vnose -->
                    <!--{% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                    {% endif %}-->

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
