{% extends "artists/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- stolpec slik, opisov, komentarjev -->
        <div class="col-md-10">

            <!-- vrstica s sliko -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a class="lightbox" href="{{ art.url }}">
                        <img src="{{ art.url }}" alt="" class="img-thumbnail img-fluid2">
                    </a>
                </div>
            </div>

            <!-- vrstica opis, ipd -->
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card booking-card border-0">
                        <div class="card-body">

                            <!-- naslov, avtor -->
                            <h4 class="card-title font-weight-bold mb-1"><a>{{ art.title }}</a></h4>
                            <h6 class="mb-3">by {{ art.user_id }}</h6>
                            <!-- likes -->
                            <ul class="list-unstyled list-inline rating mb-0">
                                <li class="list-inline-item"><i class="fa fa-heart"></i></li>
                                <li class="list-inline-item"><p class="text-muted">{{ num_likes }}</p></li>
                            </ul>
                            <!-- tags -->
                            <ul class="list-unstyled list-inline rating d-flex mb-0">
                                {% for tag in tagi %}
                                <li class="list-inline-item mr-2">
                                    <button type="button"
                                            class="btn btn-secondary btn-sm">{{ tag.tag_id }}
                                    </button>
                                </li>
                                {% endfor %}
                            </ul>
                            <!-- description -->
                            <hr class="my-4">
                            <p class="card-text">{{ art.description }}</p>
                            <hr class="my-4">


                        </div>
                    </div>
                    <!-- zaključek kartice z opisi -->

                </div>
            </div>

            <!-- dodajanje komentarjev -->
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    {% if user.is_authenticated %}
                    <form method="POST">{% csrf_token %}
                        {{ form|crispy }}
                        <button id="submit" class="btn btn-secondary" type="submit">Comment</button>
                        {% else %}
                        <a class="card-title font-weight-bold mb-1" href="{% url 'login' %}">Log in to post a
                            comment.</a>
                    </form>
                    {% endif %}
                </div>
            </div>

            <!-- komentarji -->
            {% for komentar in comments %}
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="be-comment">
                        <div class="be-comment-content">
                                    <span class="be-comment-name">
                                        <a href="#">{{ komentar.user_id }}</a>
                                    </span>
                            <span class="be-comment-time">
                                        <i class="fa fa-clock-o"></i>
                                        {{ komentar.timestamp|date:"D, j. M Y, H:i:s" }}
                                    </span>
                            <p class="be-comment-text">
                                {{ komentar.content }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- sidebar -->
        <div class="col-md-2 d-none d-lg-block">
            <div class="row">
                <div class="col-lg-12 sidenav">
                    <a href="#"><b>{{ art.title }}</b></a>
                    {% if user.is_authenticated %}
                        {% if liked %}
                            <a class="btn_liked" id="like_btn">
                        {% else %}
                            <a id="like_btn">
                        {% endif %}
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span id="like_label">{{ num_likes }}</span>
                        </a>
                    {% endif %}

                    <a href="#"><span style="color: grey;">Author:</span> {{ art.user_id }}</a>
                    <a href="#"><span style="color: grey;">Posted:</span> {{ art.timestamp }}</a>

                </div>
            </div>

            <hr class="mt-2 mb-2">

            <a href="#"><span style="color: grey;">More from:</span> {{ art.user_id }}</a>
            <div class="row image-grid">
                <!-- mini galerija -->
                {% for slika in user_art %}
                {% if slika.id != artwork_id %}

                <a href="{% url 'artists:user-artwork' art.user_id.id slika.id %}" class="rounded image-bg"
                   style="background-image:url({{ slika.url }})">
                    <img class="image-bg-placeholder"
                         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                         alt=""/>
                    <img class="image-bg-img sr-only"
                         src="{{ slika.url }}"
                         alt="Cropped image as a background example"/>
                </a>
                {% endif %}
                {% endfor %}
            </div>

        </div>

    </div>
</div>


<script>

    var like_btn = document.getElementById("like_btn");
    var like_label = document.getElementById("like_label");

    function reqListener () {
        let data = JSON.parse(this.responseText);
        // console.log(data);
        if(data.liked) {
            like_btn.classList.add("btn_liked");
        }
        else {
            like_btn.classList.remove("btn_liked");
        }
        like_label.innerHTML = "" + data.num_likes;
    }

    like_btn.onclick = function () {
        var oReq = new XMLHttpRequest();
        oReq.addEventListener("load", reqListener);
        oReq.open("GET", "{% url 'artists:api-like-toggle' artwork_id %}");
        oReq.send();
    }

</script>


{% endblock content %}


