{% extends 'artists/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">

        <!-- art search -->
            <div class="col-md-6">
                {% if art %}
                    <div class="col-md-12 well">
                        {% for result in art %}
                            {{ result }}
                        {% endfor %}
                        <span class="step-links pagination">
                            {% if art.has_previous %}
                                <a href="?art_page={{ art.previous_page_number }}&artists_page={{ request.GET.artists_page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"> previous </a>
                            {% endif %}
                            <span class="current">
                                Page {{ art.number }} of {{ art.paginator.num_pages }}
                            </span>
                            {% if art.has_next %}
                                <a href="?art_page={{ art.next_page_number }}&artists_page={{ request.GET.artists_page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"> next </a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            </div>

        <!-- user search -->
            <div class="col-md-6">
                {% if artists %}
                    <div class="col-md-12 well">
                        {% for result in artists %}
                            {{ result }}
                        {% endfor %}
                        <span class="step-links pagination">
                            {% if artists.has_previous %}
                                <a href="?art_page={{ request.GET.art_page }}&artists_page={{ artists.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"> previous </a>
                            {% endif %}
                            <span class="current">
                                Page {{ artists.number }} of {{ artists.paginator.num_pages }}
                            </span>
                            {% if artists.has_next %}
                                <a href="?art_page={{ request.GET.art_page }}&artists_page={{ artists.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"> next </a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>



{% endblock %}