{% extends "base.html" %}
{% block content %}

    {% for art in artworks %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ art.user_id }}</a>
                </div>
                <h2><a class="article-title" href="#">{{ art.title }}</a></h2>
                <small class="text-muted">{{ art.timestamp }}</small>
                <p class="article-content">
                    {% if art.url %}
                        <img src={{ art.url }} alt="slika">
                    {% else %}
                        <img src="https://img.icons8.com/ios/50/000000/error.png" alt="error">
                    {% endif %}
                </p>
            </div>
        </article>

{#    {% for user in users %}#}
{#        {% if user.arts.exists %}#}
{#        <article class="media content-section">#}
{#            <div class="media-body">#}
{#                <div class="article-metadata">#}
{#                    <a class="mr-2" href="#">{{ user.username }}</a>#}
{#                 </div>#}
{#                {% for art in user.arts.all %}#}
{#                        <h2><a class="article-title" href="#">{{ art.title }}</a></h2>#}
{#                        <small class="text-muted">{{ art.timestamp }}</small>#}
{#                        <p class="article-content"><img src={{ art.url }} alt="slika"></p>#}
{#                {% endfor %}#}
{#            </div>#}
{#        </article>#}
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_nexz %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
{% endblock content %}