{% extends "base.html" %}
{% block content %}
    {% for user in users %}
        {% if user.arts.exists %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ user.get_username }}</a>
                 </div>
                {% for art in user.arts.all %}
                 <h2><a class="article-title" href="#">{{ art.title }}</a></h2>
                    <small class="text-muted">{{ art.timestamp }}</small>
                <p class="article-content"><img src={{ art.url }} alt="slika"></p>
                {% endfor %}
            </div>
        </article>
        {% endif %}
    {% endfor %}
{% endblock content %}