{% extends "artists/base.html" %}
{% block content %}
    <div class="container px--200 gallery text-center tz-gallery" id="gallery">

  <!-- Grid column -->
        {% for art in artworks %}
            <div class="mb-3 pics animation all 2 thumbnail">
                <div class="img-container"><a class="lightbox" href={% url 'artists:user-artwork' art.user_id.id art.id %}>
                     <img src={{ art.url }} class="img-thumbnail">

                        <div class="overlay">
                            <div class="container my-auto centered atitle"> <h1 class="atitle">{{ art.title }}</h1> <br> <h6>by {{ art.user_id }}</h6></div>

                        </div></a>
                </div>
{#                <a href={% url 'artists:user-artwork' art.user_id.id art.id %}>#}
{#                        <img src="{{ art.url }}" alt="" class="img-thumbnail">#}
{#                   </a>#}
            </div>
        {% endfor %}
    </div>
  <!-- Grid column -->


{#    <div class="tz-gallery">#}
{#        <div class="row">#}
{#        {% for art in artworks %}#}
{#            <div class="col-sm-6 col-md-4" align="center">#}
{#                <div class="thumbnail">#}
{#                    <a class="lightbox" href={% url 'artists:user-artwork' art.user_id.id art.id %}>#}
{#                        <img src="{{ art.url }}" alt="" class="img-thumbnail">#}
{#                    </a>#}
                    <div class="caption">
                        <a class="mr-2" href="#">{{ art.user_id }}</a>
                        <small class="text-muted">{{ art.timestamp|date:"D, j. M Y, H:i:s" }}</small>
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#        </div>#}
{#    </div>#}


    <p class="paginator" align="center">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1"><<</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">></a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">>></a>
        {% endif %}
    {% endif %}
        </p>

{% endblock content %}