{% extends "artists/base.html" %}

{% block content %}
    <div class="gallery-container">
        <h1>Made by {{ user }}</h1>
    </div>

    <div class="container-fluid px--200 gallery text-center tz-gallery" id="gallery">

  <!-- Grid column -->
        {% for art in user_art %}
            <div class="mb-3 pics animation all 2 thumbnail">
                <div class="img-container"><a class="lightbox" href={% url 'artists:user-artwork' user.id art.id %}>
                     <img src={{ art.url }} class="img-thumbnail">

                        <div class="overlay">
                            <h3 class="atitle centered"> {{ art.title }}</h3>

                        </div></a>
                </div>
{#                <a href={% url 'artists:user-artwork' art.user_id.id art.id %}>#}
{#                        <img src="{{ art.url }}" alt="" class="img-thumbnail">#}
{#                   </a>#}
            </div>
        {% endfor %}
    </div>

{{ opis|linebreaks }}
{% endblock %}