{% extends "base.html" %}

{% block content %}



    <!-- Zgornji banner -->
    <div class="em-background-box text-white content">
        <div class="container-fluid">
            <div class="text-center em-background-box-content">
                <div class="wrapper">
                    {% if avatar %}
                        <img src="{{ avatar.url }}" alt=""/>
                    {% else %}
                        <i class="fa fa-user fa-7x" alt="" style="color:black"></i>
                    {% endif %}

                </div>

                <h1 class="thin">{{ user.username }}</h1>
                <h4>
                    <span class="thin">{{ user.first_name }} {{ user.last_name }}</span>
                </h4>
                <div class="row justify-content-center">
                    <div class="col-md-2">

                    </div>
                </div>
                <h6>{{ likes }} likes </h6>
            </div>
        </div>
    </div>

{#    {% if opis %}#}
{#        <div class="row justify-content-center">#}
{#        <div class="col-md-6">#}
{#            <div class="card booking-card siva">#}
{#                <div class="card-body">#}
{##}
{#                    <h5 class="card-title font-weight-bold mb-1">MY BIO</h5>#}
{#                    <p class="card-text">{{ opis|linebreaks }}</p>#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}




    <div class="row">
        <!-- stolpec slik, opisov, komentarjev -->
        <div class="col-md-10">
            <div class="container gallery text-center tz-gallery" id="gallery">

                <!-- Grid column -->
                {% for art in user_art %}
                    <div class="mb-3 pics animation all 2 thumbnail">
                        <div class="img-container"><a class="lightbox"
                                                      href="{% url 'artists:user-artwork' user_id art.id %}">
                            <img src={{ art.url }} class="img-thumbnail">

                            <div class="overlay">
                                <h3 class="atitle centered"> {{ art.title }}</h3>

                            </div>
                        </a>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>


        <div class="col-md-2 d-none d-lg-block pr-3 negativno">
            <div class="card">
                <div class="col-lg-12 sidenav">
                    <div class="zamik-zgoraj"></div>



                            <h5 class="card-title font-weight-bold mb-1">MY BIO</h5>
                            <p class="card-text">{{ opis|linebreaks }}</p>




                </div>
            </div>
            <hr class="mt-2 mb-2">

            <!-- mini galerija: more from -->
        {% if user_liked %}

        <span style="color: grey;">What {{ user }} liked:</span>
                <div class="card">
                    <div class="image-grid">

                        {% for slika in user_liked %}
                            {% if slika.artwork.user_id.id != user_id %}


                                <a href="{% url 'artists:user-artwork' slika.artwork.user_id.id slika.artwork.id %}"
                                   class="rounded image-bg"
                                   style="background-image:url({{ slika.artwork.url }})">
                                    <img class="image-bg-placeholder"
                                         src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                         alt=""/>

                                    <img class="image-bg-img sr-only"
                                         src="{{ slika.artwork.url }}"
                                         alt="Cropped image as a background example"/>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
        {% endif %}



    </div>



{% endblock %}