body {
    min-height: 100vh;
    font: normal 16px sans-serif;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    color: #58595a;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .thumbnail {
    /*background-image: linear-gradient(to top, #eef1f5 0%, #f8f9fa 100%);*/
    padding: 0;
    margin: 5px;
    margin-bottom: 30px;
    background-color: #fff;
    background-color: #eaeaea;
    border-radius: 6px;
    border: none;
    /*border: 2px solid lightsteelblue;*/
    transition: 0.15s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    box-shadow: -10px -10px 1px rgba(0, 0, 0, 0.1), -10px 10px 1px rgba(0, 0, 0, 0.1), 10px 10px 1px rgba(0, 0, 0, 0.1), 10px -10px 1px rgba(0, 0, 0, 0.1);
    box-shadow: -10px -10px 5px #eaeaea, -10px 10px 5px #eaeaea, 10px 10px 5px #eaeaea, 10px -10px 5px #eaeaea;
}

.tz-gallery .thumbnail:hover {
    transform: translateY(-10px) scale(1.02);
}

.tz-gallery .lightbox img {
    border-radius: 4px 4px 0 0;
}

.tz-gallery .caption{
    padding: 6px 30px;
    text-align: center;
}

.tz-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.tz-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.sidenav {
  width: 400px;
  width: 100%;
  text-align: right;
  position: absolute;
  position: initial;
  z-index: 1;
  top: 65px;
  right: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  margin-left: 0;
  margin-top: 40px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

a.btn.btn-like{
    color: #fb5858;
    font-size: 2em;
}

a.btn.btn-like:hover{
    color: red;
}