
h1{
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 40px;
    font-family: sans-serif;
}

p{
    font-size: 17px;
    margin-bottom: 0em;
}

.form-control{
    background: transparent;
    border: 2px solid #efcc8d;
}

.btn-secondary{
    width: 100%;
    float: left;
    border: 10px;
    background: #daac25;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    margin: 12px 0;
}

.smaller {
    width: 40%;

}


#submit{
    width: 49%;
    float: left;
    background: #55b755;
}

#cancel{
    width: 49%;
    float: right;
    background: #777777;
}

.text-muted{
    display: none;
}

.col-md-6{
    margin-top: 10px;
    margin-bottom: 80px;
}

a.button-edit{
    width: 100%;
    float: left;
    color: white;
    border: 10px;
    background: #daac25;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
    border-radius: .25rem;
    margin-bottom: 50px;
}

a:hover{
    text-decoration: none;
}

.ul{
    background: gold;
}
