{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block css_import %}
<!-- {% load static %} -->
<link rel="stylesheet" type="text/css" href="{% static 'account/style-login.css' %}">
{% endblock css_import %}

<!-- we do not want the navigation bar -->
{% block navbar %}
{% endblock navbar %}


{% block naslov %}
<title>Login</title>
{% endblock naslov %}

{% block content %}

{% if user.is_authenticated %}
<h1 style="margin-top: 70px;"> {{ user.get_username }}, you are already logged in.</h1>
<p>
    <a href="/" style="text-align:left; padding-left: 20px; color: #d0c696; font-size: 25px; margin-top: 20px;">Go back.</a>
    <a href="/logout" style="text-align:left; padding-left: 20px; color: #d0c696; font-size: 25px;">Log out.</a>
</p>
{% else %}

<div class="container">
    <div class="row">
        <!-- left side -->
        <div class="col-md-7">
            <h1 class="text-left">Happy to see you back</h1>
            <div class="lefts">
                <p clsass="text-left">We hope you are having a good time exploring the seas of art expression
                    as well as contributing your art droplets to our ocean.
                </p>
            </div>
        </div>

        <!-- right side -->
        <div class="col-md-5">
            <div class="row">
                <h1 class="text-right">Log in...</h1>
            </div>
           
        <hr>

            <div class="form-group">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}

                <button class="btn btn-secondary" type="submit">Get to it</button>    
                </form>
            </div>

            <a href="/register" class="register">Not a member yet?</a>
            
        </div>
    
    </div>
</div>

{% endif %}


{% endblock %}
